name: Kubernetes Kind Setup

on:
  workflow_run:
    workflows: ["Terraform_Infrastructure_Setup"]
    types:
      - completed

jobs:
  install-kind:
    runs-on: self-hosted

    steps:
    - name: Retrieve EC2 Public IP from Workflow Terraform_Infrastructure_Setup
      run: |
        echo "The EC2 public IP from Workflow1 is: ${{ needs.Terraform_Infrastructure_Setup.outputs.ec2_public_ip }}"

    - name: SSH to EC2 and Install Kind
      run: |
        ssh -o StrictHostKeyChecking=no ec2-user@$EC2_PUBLIC_IP << EOF
          sudo yum update -y
          curl -Lo ./kind https://kind.sigs.k8s.io/dl/latest/kind-linux-amd64
          chmod +x ./kind
          sudo mv ./kind /usr/local/bin
          kind create cluster --name my-cluster
        EOF